*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background: url("/project/customer/html/photo/bc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}		
.box{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 60px 20px 30px 20px;
    height: 530px;
    width: 350px;
    border-radius: 30px;
    background-color: rgba(255, 220, 220, 0.406);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
}
.box-register{
    position: absolute;
    width: 85%;
    left: 27px;
}
.input-group{
    width: 100%;
    transform: translateY(30%);
    
}
.input-field{
    margin: 12px 0;
    position: relative;
}

.input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
}
.input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.input-box:focus ~ label,.input-box:valid ~ label{
    top: 2px;
    font-size: 10px;
    color: #c12828;
    font-weight: 500;
}

.input-submit{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #bc6202;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.144);
    cursor: pointer;
    transition: .4s;
}
.input-submit:hover{
    background:  #db3e00;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}
.logo{
    position: absolute;
    transform: translateY(-48%);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}
.haveaccount{
    text-align: center;
    font-size: 10px;
    font-weight: 60;
    word-spacing: 1px;
    transform: translateY(100px);
}
a{

    color: white;
    padding: 0;
    text-decoration: none;
}
    a:hover:not(.active){
    color: rgb(0, 0, 0);
}